*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
background-color: beige;
  font-family: "Poppins", sans-serif;
 
}
/* main{
    background-color: gray;
    padding: 30px;
}

.selections{
    display: flex;
    gap: 20px;
}

.option .img1 img{
    width: 150px;
    height: 120px;
}
.option .img1{
    display: flex;
    justify-content: center;
align-items: center;
}
.option1{
    display: flex;
    gap: 60px;
    margin: 20px 20px;
    width: 35px;
    font-size: xx-small;
    height: 25px;
    
}
.option1 p{
    background-color: gray;
    display: flex;
   

}
.option1 i{
    background-color: gray;
} */
main{
    padding: 40px;
}

.selections .option{
    width: 300px;
    height: 330px;
    background-color:rgb(255, 255, 255) ;
  margin-bottom: 20px;
  flex-basis: 23%;
  
  position: relative;
  border-radius: 20px;
  

}
.card_main{
    padding: 0 20px;
}
.option a{
    text-decoration: none;
}
.selections{
    display: flex;
    gap: 20px;
}
.option1{
    width: 50%;
    padding: 5px;
    height: fit-content;
    background-color: rgba(207, 233, 201, 0.629);
    border-radius: 10px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #56bc67;
}



.option .img1{
    width: 100%;
    height: 120px;
    background-color: white;
   padding: 45px;
}
.option .img1 img{
font-size: 300px;
    width: 160px;
    height: 85px;
}
.imgend{
    margin-top: 20px;
    text-decoration: none;
}
.imgend p{
    font-size: 15px;
    color: black;
}
.perc{
    margin-top: 15px;
    width: 90px;
  padding: 7px;
    background-color: rgb(237, 237, 237);
    border-radius: 5px;
    
    
}
.perc p{
    display: flex;
    margin: 0 auto;
    color: black;
}
.sale del{
    color: rgb(0, 0, 0);
    
}
.sale p{
    margin-top: 10px;
    font-size: 10px;
    color: gray;
}
.sale2{
  display: flex;
    justify-content: space-between;
    
}
.sale2 p{
    margin-top: 10px;
font-size: 20px;
color: green;
}
.sale2 span{
    color: black;
    margin-top: 10px;
}

.her i{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    width: 50px;
    border-radius: 10px;
    padding: 20px;
}
.her{
    display: flex;
    height: 50px;
    gap: 20px;
    margin-bottom: 10px;
}
.her button{
    width: 150px;
    display: flex;
   border-radius: 10px;
    padding: 17px;
    border: none;
    background-color: red;
    color: white;
}
.her button i{
border: none;
color: white;
padding: 1px;
background-color: transparent;
}
.card_bottom{
cursor: pointer;
padding: 30px 7px;
height: 190px;
display: flex;
margin-top: -6px;
color: black;
background-color: rgb(255, 255, 255);
border-radius:0 0  20px 20px;
transition: 0.1s ease-in-out;
visibility: hidden;
opacity: 0;
flex-wrap: wrap;
}
.option:hover .card_bottom{
    opacity: 1;
    visibility: visible;

}
.end1{
    font-size: small;
    display: flex;gap: 170px;
}
.end2{

    font-size: small;
    display: flex;gap: 90px;
}
.end3{ 
    
    font-size: small;display: flex;gap: 150px;}